* {
  font-family: Proxima Nova;
  background: #2a2826;
  margin: 0;
  padding: 0;
}

.grid-root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.ceil {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-size: 1.5rem;
  overflow: hidden;
  background-color: #9C9C9C;
  color: #2a2826;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.control-root {
  margin: 10px auto;
  width: 900px;
  color: #9C9C9C;
  display: flex;
  justify-content: space-around;
}

.control-root section {
  display: flex;
  flex-direction: column;
  border: 4px double white;
  box-sizing: border-box;
}

.control-root section.radio {
  width: 100px;
  padding: 8px 8px 8px 15px;
}

.control-root section.button button {
  width: 100px;
  display: block;
  font-size: 2rem;
  height: 100%;
  color: #2a2826;
  background-color: #9C9C9C;
}