.ControlPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ControlPanel > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: .8rem 0;
}

.InputRange {
  width: auto;
}