.Island {
  display: flex;
  flex-direction: column;
}

.Island .Row {
  display: flex;
  flex-direction: row;
}

.Island .Row .Cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-size: 1.5rem;
  background-color: #9C9C9C;
  color: black;
  overflow: hidden;
}